  <div class="home-container">
    <div class="half-home">
      <h1 class="text-center">Jpay</h1>
      <h3 class="typed-js"></h3>
      <div class="d-flex justify-content-around">
        <%= link_to "Explore", items_path, class: "home-btn" %>
        <%= link_to "Upload", new_item_path, class: "home-btn" %>

      </div>
    </div>
    <div class="half-home">
      <div class="cards-container">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
            <%= render 'shared/card', item: item %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
