  <div class="home-container">
    <div class="half-home">
      <h1 class="text-center">Jipay</h1>
      <p class="text-center mb-5">Lorem ipsum et dolor sit amet</p>
      <div class="d-flex justify-content-around">
        <%= link_to "Explore", items_path, class: "home-btn" %>
        <%= link_to "Upload", new_item_path, class: "home-btn" %>

      </div>
    </div>
    <div class="half-home">
      <div class="cards-container">
        <% @items.each do |item| %>
          <%= render 'shared/card', item: item %>
        <% end %>
      </div>
    </div>
  </div>

</div>
