<div class="container">
  <h1>WELCOME</h1>


  <div class="cards-container">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <%= render 'shared/card', item: item %>
      <% end %>
    <% end %>
  </div>
</div>
