.form-devise {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: rgb(184, 184, 146);
  background-size: cover;
  border-radius: 12px;
  padding: 80px;
  margin: 80px;




}
