.form-devise {
  display: flex;
  color:black;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  background-size: cover;
  border-radius: 12px;
  padding: 30px;
  margin: 80px auto;
  background-color: white;
  width: 400px;
}

.form-actions {
  border-radius: 55px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: linear-gradient(90deg, rgba(8,2,37,1) 5%, rgba(3,3,54,1) 35%, rgba(12,19,78,1) 68%, rgba(56,63,105,1) 98%);
  transition: 0.7s all ease;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  background: linear-gradient(90deg, rgb(37, 12, 163) 5%, rgb(7, 7, 170) 35%, rgb(37, 51, 182) 68%, rgb(104, 117, 196) 98%);;
  }
}

.btn {
  color: white;
  margin-left: 110px;
  &:hover {
    color: white;
  }
}

.login {
  background-color: white;
  color: black;
}

.signup {
  background-color: white;
  width: 100px;
  text-decoration: none;
  color: black;
}

.forgot {
  background-color: white;
  width: 200px;
  text-decoration: none;
  border-radius: 5px;
  color: black;

}
.signup:hover {
    color: gray;
  }

.forgot:hover {
    color: gray;
  }


.btn-signup {
  color: rgb(255, 255, 255);
  border-radius: 60px;
  background: linear-gradient(90deg, rgba(8,2,37,1) 5%, rgba(3,3,54,1) 35%, rgba(12,19,78,1) 68%, rgba(56,63,105,1) 98%);
  opacity: 1;
  border: none;
  margin-right: 30px;
}
