.home-container {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

.half-home {
  width: 45%;
  height: 100%;
  margin: 5vh auto;
  background-color: lightgray;
  border-radius: 10px;
}

.home-btn {
  border-radius: 55px;
  padding: 10px 20px;
  background: linear-gradient(90deg, rgba(8,2,37,1) 5%, rgba(3,3,54,1) 35%, rgba(12,19,78,1) 68%, rgba(56,63,105,1) 98%);
  transition: 0.7s all ease;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  background: linear-gradient(90deg, rgb(37, 12, 163) 5%, rgb(7, 7, 170) 35%, rgb(37, 51, 182) 68%, rgb(104, 117, 196) 98%);;
  }
}
// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }

// .home-card {
//   display: flex;

// }

// .left-card {
//   display: flex ;

// }

// .right-card {
//   display: flex;
//   flex-wrap: wrap;

// }
